body{
    font-family: "Open Sans", arial;
}

h1{
    font-weight: 600;
}

table, tr, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
}

th{
    background-color: #eee;
}

input{
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"]{
    cursor: pointer;
}

a{
    text-decoration: underline;
    cursor: pointer;
    color: #00f;
}
